nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #489dce; 
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky; 
  top: 0;
  z-index: 10;
  gap: 20px;
  height: 18px;
}
nav a {
  text-decoration: none;
  color: #ffffff; 
  font-size: 18px;
  font-weight: 500;
  margin: 0 15px;
  padding: 5px 0;
  position: relative;
  transition: color 0.3s ease-in-out;
}
nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ffffff; 
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
nav a:hover {
  color: #ffffff; 
}
nav a.blue {
  color: #ffffff; 
  font-weight: bold;
}

nav a.blue::after {
  width: 100%;
}
@media (max-width: 768px) {
  nav {
      flex-direction: column;
      gap: 10px;
  }
  nav a {
      margin: 5px 0;
  }
}

.Logo{
  color: white;
  font-size: 29px;
}
