.resume-navbar{
    height: 125px;
    background-color: #4892E4;
    margin-top: 10px;
}

.resume-pfp{
    height: 200px;
    width: 200px;
    border-radius: 2000px;
    margin-left: 30px;
    margin-top: -100px;
}

.f-name,.l-name{
    margin-left: 1100px;
    font-size: 60px;
    font-weight: 600;
    font-family: 'inter';
}

.f-name{
    margin-top: -180px;
    color: white;
}
.l-name{
    color: #4892E4;
}

.personal-profile{
    font-family: 'Inria Sans', sans-serif;
    margin-top: 100px;
    margin-left: 40px;
    font-size: 25px;
}

.blue-line{
    height: 2px;
    width: 600px;
    background-color: #4892E4;
    margin-left: 40px;
    margin-top: 10px;
}

.personal-profile-text{
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 40px;
    width: 600px;
    margin-top: 20px;
}

.blue-line-2{
    height: 2px;
    width: 600px;
    background-color: #4892E4;
    margin-left: 40px;
    margin-top: 15px;
}

.contact-details{
    font-family: 'Inria Sans', sans-serif;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
}

.blue-line-3{
    height: 2px;
    width: 600px;
    background-color: #4892E4;
    margin-left: 40px;
    margin-top: 10px;
}
